html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/place.jpg'); /* Background pattern from Subtle Patterns */
    background-size: cover;
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 39px;
  font-family: fantasy;
  color: mistyrose;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #5cfff1 0%, #316ce6 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: 0.3s ease-in-out all;
}


.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.img-win {
  display: none;
  justify-content: center;
  align-items: center;
}

.img-right {

  position: absolute;
  right: 0%;

}
.img-left {

  position: absolute;
  left: 0%;

}
button {

  background: linear-gradient(160deg, #1fffeb 0%, #fdffd4 100%);
    border-radius: 10px;
    padding: 10px;
    margin-left: 3%;
    font-family: initial;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    cursor: pointer;
    float: right;
}
.end-button {
  display: none;
}
.move {
  margin: 0 5% 0 5%;
}
#demo {
  float: right;

}
.moves,
.move,
.care,
#demo {

  color: gold;
  font-size: 21px;
  font-weight: bold;

}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 450px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: gold;
}
